.input-area{
    display: flex;
    margin-top: 40px;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.input-row{
    display: flex;
    flex-flow: row nowrap;
    height: 80px;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
}
.input-list{
    text-align: center;
    font-size: 1.1em;
}
.input-title{
    font-size: 1.2em;
    width: 17vw;
    white-space: nowrap;
    text-align: center;
}
.input-desc{
    position: relative;
    width: 40vw;
    font-size: 1.2em;
}
.input-desc-multi{
    position: relative;
    width: 40vw;
    font-size: 1.2em;
}
.input-desc-submit{
    width:8vw;
    font-size: 1.2em;
    text-align: center;
}
.input-column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.input-file{
   display: none; 
}
.image-user{
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    border:1px solid #e0e0e0;
}