.login-area{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80vw;
    height: 50vh;
}
.normal-login-box{
    width: 40vw;
    height: 50vh;
    border-right: 1px solid #000;
}
.social-login-box{
    width: 40vw;
    height: 50vh;
}