.desc-area{
    padding-top: 20px;
}
.desc-title{
    font-size: 1.4rem;
    text-align: left;
    border-left: solid 3px #2e75b6;
    padding-left: 5px;
}
.desc-item{
    padding-top: 15px;
}
.item-name{
    display: inline-block;
    font-size: 1.2rem;
    width: 100px;
}
.text-align-center{
    text-align: center;
}
.profile-area{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    align-items: center;
}
.profile-image{
    display: inline-block;
    position: center;
    width: 350px;
    height: 350px;
    min-width: 150px;
    min-height: 150px;
}
.profile-input{
    display: none;
}
.profile-name{
    display: inline-block;
}
.profile-btn{
    width: 180px;
    height: 50px;
    border: 0px;
    border-radius: 50px;
    background-color: rgb(45, 70, 185);
    color: rgb(255, 255, 255);
    margin: 15px;
    font-size: 1.0em;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
}
.item-input{
    width: 250px;
    height: 30px;
    margin-left: 20px;
    font-size:1.2rem;
}
#selfIntroduce{
    width: 500px;
    height: 80px;
}
.pjt-table{
    border-collapse: separate;
    border-spacing: 0 50px;
}
.pjt-td{
    display: block;
}
.pjt-seq{
    display: none;
}
.add-btn{
    display: block;
    width: 200px;
    height: 50px;
    border: 1px solid #202020;
    background: #FFF;
    color: #202020;
    font-size: 1.0em;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    margin:0px auto;
}
.add-btn:hover{
    background: #F5FFFA;
}
.crr-table{
    border-collapse: separate;
    border-spacing: 0 50px;
}
.crr-td{
    display: block;
}
.crr-seq{
    display: none;
}