<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CareerInfo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

careerinfo
<div class="container">
    <button id="addcareer" value="추가">추가 + </button>
    <!--<button id="savecareer" value="저장">저장 </button>-->


    <div class="row">
        <table id="cinfotable" border="1" class="form-control">
            <th class="form-control">경력사항</th>
            <th class="form-control">설명</th>
            <th class="form-control">시작날짜</th>
            <th class="form-control">완료날짜</th>
            <th class="form-control"> - </th>
            <tbody id="citbody" class="form-control">
            </tbody>
        </table>
    </div>

</div>

<!--    <tr>
        <td colspan="5">
            <input type="button" id="addcareer" value="추가 +">
        </td>
    </tr>-->
<script th:src="@{/js/careerinfo.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>