<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
-->
<head>
    <meta charset="UTF-8">
    <title>CareerInfo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#addcareer").on('click', function () {
                //alert("button ok");
                addcareer();
            });
            $("#cdel").on('click', function () {
                deletecareer();
            });
            $("#savecareer").on('click', function () {
                savecareer();
            });

        });

        function addcareer() {
            $("#careertable").append(
                "<tr>"
                +"<td><input type='text' id='cname'></td>"
                +"<td><input type='text' id='cment'></td>"
                +"<td><input type='text' id='sdate' placeholder='20201111'></td>"
                +"<td><input type='text' id='edate' placeholder='20201111'></td>"
                +"<td><input type='button' id='cdel' value='삭제'></td>"
                +"</tr>"
            );
        }//addcareer

        function savecareer(){
            var cname = $("#cname").val();
            var cment = $('#cment').val();
            var sdate = $('#sdate').val();
            var edate = $('#edate').val();
            var cn;

            var objParam = {
                cname : $("#cname").val(),
                cment : $('#cment').val(),
                sdate : $('#sdate').val(),
                edate : $('#edate').val()
            };

            //alert(cname+', '+cment+', '+sdate+', '+edate);
            console.log("objParm=>>"+JSON.stringify(objParam));

            var yn = confirm('저장하시겠습니까?');
            if(yn){
                $.ajax({
                    url:'/savecareer',
                    dataType:'JSON',
                    contentType: 'application/json',
                    type:'post',
                    data:JSON.stringify(objParam),
                    success : function(data){
                        console.log(data);
                        alert("저장되었습니다.");
                        //location.href="/cinfo";
                    }, error : function(request, status, error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                });
            }
        }//savecareer

        function deletecareer(){
            var params = {
                cname : $("#cname").val()
            };
            console.log("deleteclick cname=> " + JSON.stringify(params));

            var yn = confirm("경력사항을 삭제하시겠습니까?");
            if(yn){
                $.ajax({
                    url : "deletecareer",
                    type : "POST",
                    data : params,
                    success : function(obj) {
                        console.log("delete obj>> " + obj);
                        alert("삭제되었습니다");
                    },
                    error : function(xhr, status, error) {
                    }
                });// ajax
            }//if
        }//deletecareer

    </script>
</head>
<body>

careerinfo
<div class="container">
    <input type="button" id="addcareer" value="추가 +">
    <input type="button" id="savecareer" value="저장">

</div>

<table id="careertable" border="1">
    <th>경력사항</th>
    <th>설명</th>
    <th>시작날짜</th>
    <th>완료날짜</th>
    <th> - </th>
   <!-- <tr class="text-center" th:each="clist : ${clist}">
        <td scope="row">
            <span th:text="${clist.cicarname}"></span>
        </td>
        <td>
            <span th:text="${clist.cicomment}"></span>
            <span th:text="${clist.cno}"></span>
        </td>
    </tr>-->
    <!--<tbody>
    <tr>
        <td>
            <input type="text">
        </td>
        <td>
            <input type="text">
        </td>
        <td>
            <input type="text" placeholder="20201111">
        </td>
        <td>
            <input type="text" placeholder="20201111">
        </td>
    </tr>
    </tbody>-->

   <!-- <tr>
        <td colspan="4">
            <input type="button" id="addcareer" value="추가 +">
        </td>
    </tr>-->


</table>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>