<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">    
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <title>About Me</title>
</head>
<body>
    <div class="container">
        <!-- header -->
        <header> 
            <div class="header"> 
                <div class="logo-area" id="logoArea">
                    <div class="logo">About Me</div>
                    <div class="sublogo">Make Your Portfolio.</div>
                </div>
            </div>
        </header>
        <!-- //header -->
        <!-- nav -->
        <nav>
            <div class="nav">
                <div class="nav-item" id="introduce">소개</div>
                <div class="nav-item" id="userInfo">사용자정보</div>
                <div class="nav-item" th:text="${userName}"></div>
            </div>
        </nav>
        <!-- //nav -->
        <!-- aside-->
        <aside>
            <div class="aside"></div>
        </aside>
        <!-- //aside-->
        <!-- section -->
        <section> 
            <div class="content">
                <div class="title-area">
                    <h1 class="title">1분 만에 만드는 나의 포트폴리오</h1>
                    <h2 class="subtitle">양식을 선택하고 생성합니다.</h2>
                    <button class="btn" id="startBtn">Get Start</button>
                    <a href="/oauth2/authorization/google" class="startBtn" role="button">Google Login</a>
                    <a href="/logout" class="startBtn" role="button">Logout</a>
                </div>
                <div class="desc-area">
                    <div class="desc-item">소개글1</div>
                    <div class="desc-item">소개글2</div>
                    <div class="desc-item">소개글3</div>
                    <div class="desc-item">소개글3</div>
                </div>
            </div>
        </section>
        <!-- //section -->
        <!-- footer -->
        <footer>
            <div class="footer">
                <div class="footer-item" id="contact">Contact : lsoonnoon@gmail.com</div>
                <div class="footer-item" id="privacy">개인정보처리방침</div>
            </div>
        </footer>
        <!-- //footer -->
    </div>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>