<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">    
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link href="../static/css/template.css" rel="stylesheet" type="text/css">
    <title>Select Your Template</title>
</head>
<body>
    <div class="container">
        <!-- header -->
        <header> 
            <div class="header"> 
                <div class="logo-area" id="logoArea">
                    <div class="logo">About Me</div>
                    <div class="sublogo">Make Your Portfolio.</div>
                </div>
            </div>
        </header>
        <!-- //header -->
        <!-- nav -->
        <nav>
            <div class="nav">
                <div class="nav-item">소개</div>
                <div class="nav-item">개발자</div>
            </div>
        </nav>
        <!-- //nav -->
        <!-- aside-->
        <aside>
            <div class="aside"></div>
        </aside>
        <!-- //aside-->
        <!-- section -->
        <section> 
            <div class="content">
                <div class="title-area">
                    <h1 class="title">양식을 선택하세요.</h1>
                    <h2 class="subtitle">예쁜 포트폴리오가 만들어집니다.</h2>    
                </div>
                <div class="template-area">
                    <div class="template-item" id="templateItem1">
                        <img class="template-image" id="templateImage1"/>
                        <span class="template-title">111</span>
                    </div>
                    <div class="template-item" id="templateItem2">
                        <img class="template-image" id="templateImage2"/>
                        <span class="template-title">222</span>
                    </div>
                    <div class="template-item" id="templateItem3">
                        <img class="template-image" id="templateImage3"/>
                        <span class="template-title">333</span>
                    </div>
                    <div class="template-item" id="templateItem4">
                        <img class="template-image" id="templateImage4"/>
                        <span class="template-title">444</span>
                    </div>
                    <div class="template-item" id="templateItem5">
                        <img class="template-image" id="templateImage5"/>
                        <span class="template-title">555</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- //section -->
        <!-- footer -->
        <footer>
            <div class="footer">
                <em>훈나뇽</em>
            </div>
        </footer>
        <!-- //footer -->
    </div>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/template.js"></script>
</body>
</html>