<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/userinfo.css}" rel="stylesheet">
    <title>About Me 사용자정보</title>
</head>
<body>
<div class="container">
    <!-- header -->
    <header>
        <div class="header">
            <div class="logo-area" id="logoArea">
                <div class="logo">About Me</div>
                <div class="sublogo">Make Your Portfolio.</div>
            </div>
        </div>
    </header>
    <!-- //header -->
    <!-- nav -->
    <nav>
        <div class="nav">
            <div class="nav-item" id="introduce">소개</div>
            <div class="nav-item" id="userInfo">사용자정보</div>
            <div class="nav-item" th:text="${userName}"></div>
        </div>
    </nav>
    <!-- //nav -->
    <!-- aside-->
    <aside>
        <div class="aside">
            <div>사용자정보</div>
            <div>경력</div>
            <div>프로젝트</div>
        </div>
    </aside>
    <!-- //aside-->
    <!-- section -->
    <section>
        <div class="content">
            <div class="title-area">
                <h1 class="title" th:text="${userName} + '의 사용자정보'"></h1>
            </div>
            <div class="desc-area">
                <h2 class="desc-title">기본정보</h2>
                <div class="desc-item profile-area">
                    <img th:src="${userInfo.image}" class="profile-image" id="image">
                    <span>
                        <label for="imageInput">파일 업로드</label>
                        <input type="file" id="imageInput">
                        <button class="btn" id="uploadImageBtn">불러오기(예정)</button>
                    </span>
                </div>
                <div class="desc-item">
                    <span class="item-name">이름(한글)</span>
                    <input class="item-input" id="korName" name="korName" th:value="${userInfo.korName}">
                </div>
                <div class="desc-item">
                    <span class="item-name">이름(영어)</span>
                    <input class="item-input" id="engName" name="engName" th:value="${userInfo.engName}">
                </div>
                <div class="desc-item">
                    <span class="item-name">이메일</span>
                    <input class="item-input" id="email" name="email" th:value="${userInfo.email}">
                </div>
                <div class="desc-item">
                    <span class="item-name">연락처</span>
                    <input class="item-input" id="contact" name="contact" th:value="${userInfo.contact}">
                </div>
                <div class="desc-item">
                    <span class="item-name">블로그</span>
                    <input class="item-input" id="blog" name="blog" th:value="${userInfo.blog}">
                </div>
                <div class="desc-item">
                    <div class="item-name">자기소개</div>
                    <input class="item-input" id="selfIntroduce" name="selfIntroduce" placeholder="최대 300자" th:value="${userInfo.selfIntroduce}">
                </div>
                <button class="btn" id="baseInfoBtn">저장</button>
            </div>
        </div>
    </section>
    <!-- //section -->


    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="footer-item">Contact : lsoonnoon@gmail.com</div>
            <div class="footer-item" id="privacy">개인정보처리방침</div>
        </div>
    </footer>
    <!-- //footer -->
</div>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/userinfo.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script
</body>
</html>