<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/portfolio.css}" rel="stylesheet">
    <title>Resume</title>
</head>
<body>
    <div class="background">
        <div class="upper-area">
            <button class="print-btn" id="printBtn">Print</button>
        </div>
        <div class="page">
            <div class="sub-page">

            </div>
        </div>
        <div class="lower-area">
        </div>
    </div>
    <script th:src="@{/js/portfolio.js}"></script>
</body>
</html>